@import "reset.css";
@import "bounce-in-top.css";
@import "rotate-out-center.css";
@import "fade-out.css";

body {
	background-color: #f9b233;
	background-image: url('../images/zip-v2.svg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 1920px;
}

.container {
	max-width: 1000px;
	margin: auto;
	width: calc(100% - 40px);
}

#header {
	width: 780px;
	margin: auto;
	margin-top: 145px;
	height: 240px;
	position: relative;
	margin-bottom: 50px;
}

#wrap {
	padding-bottom: 120px;
	overflow: auto;
}

#app {
	transition: opacity 1s;
	opacity: 1;
}

.loading {
	opacity: 0 !important;
}

textarea, 
#texteditor {
	background-color: #fff;
	width: 100%;
	min-height: 200px;
	border: 3px solid #000;
	margin-top: 10px;
	margin-bottom: 8px;
	font-family: monospace;
	font-weight: bold;
	line-height: 17px;
	font-size: 15px;
	padding: 15px 20px;
	box-sizing: border-box;
	white-space: pre-wrap;
}

#texteditor[placeholder]:empty:before {
    content: attr(placeholder);
    color: #888; 
}

#logo {
	max-width: 650px;
	margin: auto;
	display: block;
}

#powered-by-swarm {
	max-width: 116px;
	position: absolute;
	right: 80px;
	bottom: 0px;
	background-image:url(../images/powered-by-swarm-v2.svg);
	width: 116px;
	height: 116px;
}

#powered-by-swarm:hover:after {
	content: "";
	background-image: url(../images/powered-by-swarm-v2-hover.svg);
	width: 116px;
	height: 116px;
	position: absolute;
	top: 4px;
	left: 2px;
	z-index: -1;
}

#new, #paste, #copy, #about {
	border: 3px solid #000;
	background-color: #fff;
}

#new {
	background-image: url(../images/new.svg);
	position: absolute;
	width: 96px;
	height: 57px;
}

#paste {
	background-image: url(../images/paste.svg);
	height: 50px;
	width: 132px;
	float: right;
	position: relative;
}

#copy {
	background-image: url(../images/copy.svg);
	height: 50px;
	width: 110px;
	position: relative;
}

.copy-input {
	border: 3px solid #000;
	height: 42px;
	display: block;
	float: left;
	margin-right: 10px;
	max-width: 850px;
	width: calc(100vw - (210px - 10px -10px));
	padding-left: 20px;
	font-family: monospace;
	-webkit-appearance: textfield;
}

#about {
	background-image: url(../images/about.svg);
	height: 50px;
	width: 50px;
	border-radius: 50px;
	position: absolute;
	top: 0;
	right: 0;
}

#close {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 3px solid #000;
  float: right;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
}

#about,
#copy,
#paste,
#new,
#close {
	cursor: pointer;
}

#about:hover:after,
#copy:hover:after,
#paste:hover:after,
#new:hover:after,
#close:hover:after {
	content: " ";
	position: absolute;
	top: 2px;
	left: 1px;
	border: 2px solid #000;
	z-index: -1;
	background-color: #000;
	width: inherit;
	height: inherit;
}

#about:hover:after {
	top: 2px;
	left: 1px;
	border-radius: 50px;
}

#new:hover:after {
	width: 90px;
  height: 51px;
}

#copy:hover:after {
	height: 44px;
	width: 104px;
}

#paste:hover:after {
	height: 44px;
	width: 126px;
}

#close:hover:after {
	top: 2px;
	left: 1px;
	border-radius: 50px;
	width: 45px;
	height: 45px;
}

#about-text {
	font-family: helvetica;
	margin-bottom: 20px;
}

/* About */

#about-page {
	background-color: #f8b133;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
  box-shadow: 1px 3px 0px #000;
}

#about-page #about-content {
	background-image:url(../images/about-details.svg);
	height: 320px;
	width: 320px;
	margin: auto;
	position: relative;
}

#about-1up {
	background-image: url(../images/1up-logo.svg);
	height: 18px;
	width: 18px;
	position: absolute;
	bottom: 63px;
	left: 80px;
}

#about-1up:hover {
	background-image: url(../images/1up-logo-hover.svg);
}

#about-swarm {
	background-image: url(../images/swarm-logo.svg);
	height: 25px;
	width: 25px;
	position: absolute;
	bottom: 59px;
	right: 78px;
}

#about-swarm:hover {
	background-image: url(../images/swarm-logo-hover.svg);
}

/* Vertical Align */

.va-outer {
  display: table;
  width:100%;
  height: 95vh;
}

.va-inner {
  display: table-cell;
  vertical-align: middle;
}

/* Utility */

.desktop-only {
	visibility: visible;
}

.mobile-only {
	visibility: hidden;
}

/* Mobile */

@media (max-width: 900px) {
  body {
    background-position: center top 7vw;
    background-size: 1000px;
  }

  #wrap {
  	padding-bottom: 0;
  }

  .container {
		max-width: 100%;
		padding: 20px;
		margin: auto;
	}

	#header {
		width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 180px;
    height: auto;
	}

	#about, #new {
		position: relative;
	}

	#new {
		float: left;
		width: 61px;
    height: 40px;
	}

	#new:hover:after {
		height: 34px;
		width: 55px;
	}

	#copy {
		height: 40px;
		width: 80px;
	}

	#copy:hover:after {
		height: 34px;
		width: 75px;
	}

	#paste {
		height: 40px;
		width: 94px;
	}

	#paste:hover:after {
		height: 34px;
		width: 89px;
	}

	#about {
		float: right;
		height: 34px;
    width: 34px;
	}

	#logo {
		width: 100%;
	}

	textarea, 
	#texteditor {
		padding: 10px;
		padding-top: 10px;
/*	  white-space: pre;
	  overflow-wrap: normal;
	  overflow-x: scroll;
*/	min-height: calc(100vh - 470px);
	}

	.desktop-only {
		visibility: hidden;
		display: none !important;
	}

	.mobile-only {
		visibility: visible;
	}

	#powered-by-swarm {
    left: initial;
    bottom: initial;
    right: initial;
    position: relative;
    display: block;
    margin: 20px;
	}

	.copy-input {
		height: 32px;
		padding-left: 10px;
    width: calc(100vw - (158px - 10px));
	}
}

@media (max-width: 700px) {
  body {
    background-position: center top -5vw;
    background-size: 1000px;
  }

  textarea, 
	#texteditor {
		/*min-height: calc(100vh - 200px - 156px - 70px - 75px - 50px);*/
		min-height: calc(100vh - 200px - 156px - 80px);
	}

	.copy-input {
		height: 32px;
		padding-left: 10px;
		padding-right: 0;
		padding-bottom: 0;
	}
}

@media (max-width: 360px) {
	#about-page #about-content {
		width: calc(100vw - 40px);
		height: calc(100vw - 40px);
	}

	#about-1up, #about-swarm {
		display: none;
	}
}